<div>
    <div class="form-group">
        <label for="displayName">
            Name
        </label>
        <input type="text" class="form-control" placeholder="Name / title, like CAD 101: Computer Aided Design 1" name="displayName" value="<%- displayName %>"/>
    </div>
    <div class="form-group">
        <label for="description">
            Description
        </label>
        <textarea class="form-control object-description" placeholder="Description" name="description"><%- description %></textarea>
    </div>
</div>